# ICC CRICKET WORLD CUP 2019
- Collect data::- Use your digital infrastructure and other sources to gather as many useful records as possible and unite them into a dataset.

- Prepare data::- Prepare your data to be processed in the best possible way. Data preprocessing and cleaning procedures can be quite sophisticated, but usually, they aim at filling the missing values and correcting other flaws in data, like different representations of the same values in a column (e.g. December 14, 2016 and 12.14.2016 wonâ€™t be treated the same by the algorithm). 

- Split data::- Separate subsets of data to train a model and further evaluate how it performs against new data.

- Train a model::- Use a subset of historic data to let the algorithm recognize the patterns in it.

- Test and validate a model::- Evaluate the performance of a model using testing and validation subsets of historic data and understand how accurate the prediction is.

- Deploy a model::- Embed the tested model into your decision-making framework as a part of an analytics solution or let users leverage its capabilities (e.g. better target your product recommendations).

- Iterate::- Collect new data after using the model to incrementally improve it.

In [1]:
#importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker

In [2]:
pwd

'/home/madanmaram/Documents/Python_EDA/ICC Cricket'

In [3]:
#loaddata
worldcup=pd.read_csv('World Cup 2019 Dataset.csv')
results=pd.read_csv('results.csv')

In [4]:
worldcup.head(5)

,Team,Group,Previous \r\nappearances,Previous \r\ntitles,Previous\r\n finals,Previous\r\n semifinals,Current \r rank
0,England,A,11,0,3,5,1
1,South Africa,A,6,0,0,4,3
2,West Indies,A,11,2,3,4,8
3,Pakistan,A,11,1,2,6,6
4,New Zealand,A,11,0,1,7,4

In [5]:
results.head(5)

        date      Team_1     Team_2     Winner     Margin Ground
0   4-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  7 wickets  Dhaka
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
3   8-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  9 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka

In [6]:
df = results[(results['Team_1'] == 'India')|(results['Team_2'] == 'India')]
india = df.iloc[:]#iloc gets rows (or columns) at particular positions in the index (so it only takes integers)
india.head()

        date      Team_1     Team_2     Winner     Margin Ground
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka
5  11-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
6  13-Jan-10       India  Sri Lanka  Sri Lanka  4 wickets  Dhaka

In [7]:
#creating a column for matches played in 2010
year = []
for row in india['date']:
    year.append(int(row[7:]))
india ['match_year']= year
india_2010 = india[india.match_year >= 10]
india_2010.count()

date          151
Team_1        151
Team_2        151
Winner        151
Margin        142
Ground        151
match_year    151
dtype: int64

In [8]:
india.head()

        date      Team_1     Team_2     Winner     Margin Ground  match_year
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka           0
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka           0
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka          10
5  11-Jan-10  Bangladesh      India      India  6 wickets  Dhaka          10
6  13-Jan-10       India  Sri Lanka  Sri Lanka  4 wickets  Dhaka          10

In [9]:
#narrowing to team patcipating in the world cup
worldcup_teams = ['England', ' South Africa', '', 'West Indies', 
            'Pakistan', 'New Zealand', 'Sri Lanka', 'Afghanistan', 
            'Australia', 'Bangladesh', 'India']
df_teams_1 = results[results['Team_1'].isin(worldcup_teams)]
df_teams_2 = results[results['Team_2'].isin(worldcup_teams)]
df_teams = pd.concat((df_teams_1, df_teams_2))
df_teams.drop_duplicates()
df_teams.count()

date      1445
Team_1    1445
Team_2    1445
Winner    1445
Margin    1368
Ground    1445
dtype: int64

In [10]:
df_teams.head()

        date      Team_1     Team_2     Winner     Margin Ground
0   4-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  7 wickets  Dhaka
1   5-Jan-10       India  Sri Lanka  Sri Lanka  5 wickets  Dhaka
2   7-Jan-10  Bangladesh      India      India  6 wickets  Dhaka
3   8-Jan-10  Bangladesh  Sri Lanka  Sri Lanka  9 wickets  Dhaka
4  10-Jan-10       India  Sri Lanka      India  8 wickets  Dhaka

In [11]:
#dropping columns that wll not affect match outcomes
df_teams_2010 = df_teams.drop(['date','Margin', 'Ground'], axis=1)
df_teams_2010.head()

       Team_1     Team_2     Winner
0  Bangladesh  Sri Lanka  Sri Lanka
1       India  Sri Lanka  Sri Lanka
2  Bangladesh      India      India
3  Bangladesh  Sri Lanka  Sri Lanka
4       India  Sri Lanka      India

In [12]:

#Building the model
#the prediction label: The winning_team column will show "1" Team 1 has won and "2" if the away team has won.

df_teams_2010 = df_teams_2010.reset_index(drop=True)
df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010.Team_1,'winning_team']=1
df_teams_2010.loc[df_teams_2010.Winner == df_teams_2010.Team_2, 'winning_team']=2
df_teams_2010 = df_teams_2010.drop(['winning_team'], axis=1)

df_teams_2010.head()

       Team_1     Team_2     Winner
0  Bangladesh  Sri Lanka  Sri Lanka
1       India  Sri Lanka  Sri Lanka
2  Bangladesh      India      India
3  Bangladesh  Sri Lanka  Sri Lanka
4       India  Sri Lanka      India

In [13]:

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
#convert team-1 and team-2 from categorical variables to continous inputs 
# Get dummy variables
final = pd.get_dummies(df_teams_2010, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

# Separate X and y sets
X = final.drop(['Winner'], axis=1)
y = final["Winner"]


# Separate train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [14]:
final.head()

,Winner,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Canada,Team_1_England,Team_1_India,Team_1_Ireland,Team_1_Kenya,Team_1_Netherlands,...,Team_2_Kenya,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_Scotland,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_Zimbabwe
0,Sri Lanka,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Sri Lanka,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,India,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Sri Lanka,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,India,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [15]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=0)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
score2 = rf.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.700
Test set accuracy:  0.675

In [16]:
#adding ICC rankings
#the team which is positioned higher on the ICC Ranking will be considered "favourite" for the match
#and therefore, will be positioned under the "Team_1" column

# Loading new datasets
ranking = pd.read_csv('icc_rankings.csv') 
fixtures = pd.read_csv('fixtures.csv')

# List for storing the group stage games
pred_set = []

In [17]:
# Create new columns with ranking position of each team
fixtures.insert(1, 'first_position', fixtures['Team_1'].map(ranking.set_index('Team')['Position']))
fixtures.insert(2, 'second_position', fixtures['Team_2'].map(ranking.set_index('Team')['Position']))

# We only need the group stage games, so we have to slice the dataset
fixtures = fixtures.iloc[:45, :]
fixtures.tail()

,Round Number,first_position,second_position,Date,Location,Team_1,Team_2,Group,Result
40,1,1.0,4.0,3/7/2019,"Riverside Ground, Chester-le-Street",England,New Zealand,Group A,NaN
41,1,10.0,8.0,4/7/2019,"Headingley, Leeds",Afghanistan,West Indies,Group A,NaN
42,1,6.0,7.0,5/7/2019,"Lord's, London",Pakistan,Bangladesh,Group A,NaN
43,1,9.0,2.0,6/7/2019,"Headingley, Leeds",Sri Lanka,India,Group A,NaN
44,1,5.0,3.0,6/7/2019,"Emirates Old Trafford, Manchester",Australia,South Africa,Group A,NaN

In [18]:
#Loop to add teams to new prediction dataset based on the ranking position of each team
for index, row in fixtures.iterrows():
    if row['first_position'] < row['second_position']:
        pred_set.append({'Team_1': row['Team_1'], 'Team_2': row['Team_2'], 'winning_team': None})
    else:
        pred_set.append({'Team_1': row['Team_2'], 'Team_2': row['Team_1'], 'winning_team': None})
        
pred_set = pd.DataFrame(pred_set)
backup_pred_set = pred_set
pred_set.head()

         Team_1        Team_2 winning_team
0       England  South Africa         None
1      Pakistan   West Indies         None
2   New Zealand     Sri Lanka         None
3     Australia   Afghanistan         None
4  South Africa    Bangladesh         None

In [19]:
# Get dummy variables and drop winning_team column
pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

# Add missing columns compared to the model's training dataset
missing_cols = set(final.columns) - set(pred_set.columns)
for c in missing_cols:
    pred_set[c] = 0
pred_set = pred_set[final.columns]


pred_set = pred_set.drop(['Winner'], axis=1)
pred_set.head()

,Team_1_Afghanistan,Team_1_Australia,Team_1_Bangladesh,Team_1_Canada,Team_1_England,Team_1_India,Team_1_Ireland,Team_1_Kenya,Team_1_Netherlands,Team_1_New Zealand,...,Team_2_Kenya,Team_2_Netherlands,Team_2_New Zealand,Team_2_Pakistan,Team_2_Scotland,Team_2_South Africa,Team_2_Sri Lanka,Team_2_U.A.E.,Team_2_West Indies,Team_2_Zimbabwe
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
#group matches 
predictions = rf.predict(pred_set)
for i in range(fixtures.shape[0]):
    print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
    if predictions[i] == 1:
        print("Winner: " + backup_pred_set.iloc[i, 1])
    
    else:
        print("Winner: " + backup_pred_set.iloc[i, 0])
    print("")

South Africa and England
Winner: England

West Indies and Pakistan
Winner: Pakistan

Sri Lanka and New Zealand
Winner: New Zealand

Afghanistan and Australia
Winner: Australia

Bangladesh and South Africa
Winner: South Africa

Pakistan and England
Winner: England

Afghanistan and Sri Lanka
Winner: Sri Lanka

South Africa and India
Winner: India

Bangladesh and New Zealand
Winner: New Zealand

West Indies and Australia
Winner: Australia

Sri Lanka and Pakistan
Winner: Pakistan

Bangladesh and England
Winner: England

Afghanistan and New Zealand
Winner: New Zealand

Australia and India
Winner: India

West Indies and South Africa
Winner: South Africa

Sri Lanka and Bangladesh
Winner: Bangladesh

Pakistan and Australia
Winner: Australia

New Zealand and India
Winner: India

West Indies and England
Winner: England

Sri Lanka and Australia
Winner: Australia

Afghanistan and South Africa
Winner: South Africa

Pakistan and India
Winner: India

West Indies and Bangladesh
Winner: Bangladesh

Afghanistan and England
Winner: England

New Zealand and South Africa
Winner: South Africa

Bangladesh and Australia
Winner: Australia

Sri Lanka and England
Winner: England

Afghanistan and India
Winner: India

West Indies and New Zealand
Winner: New Zealand

Pakistan and South Africa
Winner: South Africa

Afghanistan and Bangladesh
Winner: Bangladesh

Australia and England
Winner: England

Pakistan and New Zealand
Winner: New Zealand

West Indies and India
Winner: India

Sri Lanka and South Africa
Winner: South Africa

Afghanistan and Pakistan
Winner: Pakistan

Australia and New Zealand
Winner: New Zealand

India and England
Winner: England

Sri Lanka and West Indies
Winner: West Indies

Bangladesh and India
Winner: India

New Zealand and England
Winner: England

Afghanistan and West Indies
Winner: West Indies

Bangladesh and Pakistan
Winner: Pakistan

Sri Lanka and India
Winner: India

Australia and South Africa
Winner: South Africa

In [21]:
# List of tuples before 
semi = [('New Zealand', 'India'),
            ('England', 'South Africa')]

In [25]:
def clean_and_predict(matches, ranking, final, logreg):

    # Initialization of auxiliary list for data cleaning
    positions = []

    # Loop to retrieve each team's position according to ICC ranking
    for match in matches:
        positions.append(ranking.loc[ranking['Team'] == match[0],'Position'].iloc[0])
        positions.append(ranking.loc[ranking['Team'] == match[1],'Position'].iloc[0])
    
    # Creating the DataFrame for prediction
    pred_set = []

    # Initializing iterators for while loop
    i = 0
    j = 0

    # 'i' will be the iterator for the 'positions' list, and 'j' for the list of matches (list of tuples)
    while i < len(positions):
        dict1 = {}

        # If position of first team is better then this team will be the 'Team_1' team, and vice-versa
        if positions[i] < positions[i + 1]:
            dict1.update({'Team_1': matches[j][0], 'Team_2': matches[j][1]})
        else:
            dict1.update({'Team_1': matches[j][1], 'Team_2': matches[j][0]})

        # Append updated dictionary to the list, that will later be converted into a DataFrame
        pred_set.append(dict1)
        i += 2
        j += 1
        
        # Convert list into DataFrame
    pred_set = pd.DataFrame(pred_set)
    backup_pred_set = pred_set

    # Get dummy variables and drop winning_team column
    pred_set = pd.get_dummies(pred_set, prefix=['Team_1', 'Team_2'], columns=['Team_1', 'Team_2'])

    # Add missing columns compared to the model's training dataset
    missing_cols2 = set(final.columns) - set(pred_set.columns)
    for c in missing_cols2:
        pred_set[c] = 0
    pred_set = pred_set[final.columns]

    pred_set = pred_set.drop(['Winner'], axis=1)

    # Predict!
    predictions = logreg.predict(pred_set)
    for i in range(len(pred_set)):
        print(backup_pred_set.iloc[i, 1] + " and " + backup_pred_set.iloc[i, 0])
        if predictions[i] == 1:
            print("Winner: " + backup_pred_set.iloc[i, 1])
        else:
            print("Winner: " + backup_pred_set.iloc[i, 0])
        print("")

In [26]:
clean_and_predict(semi, ranking, final, rf)

New Zealand and India
Winner: India

South Africa and England
Winner: England

In [27]:
# Finals
finals = [('India', 'England')]

In [28]:
clean_and_predict(finals, ranking, final, rf)

India and England
Winner: England

In [29]:
print("England won the Match BUT India won the Hearts")

England won the Match BUT India won the Hearts